#page {
	height: 95%;
}

#output {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#input {
	width: 100%;
}

#field {
    width: 100%;
}

.timestamp {

}

.system_msg {

}

.user_message {

}

.username {

}

.myname {

}
